@import '../styles/style.module.scss';

.progressBarTrack {
    margin: 30px auto;
    position: relative;
    width: 90%;
    height: 20px;
    background-color: #f3f3f3;
    border-radius: 10px;
}

.progressBarValue {
    background-color: #89b0ba;
    height: 100%;
    border-radius: 10px;
    transition: width 0.2s;
    width: 50%;
    position: relative;
}

.progressBarValue::after {
    content: '';
    position: absolute;
    display: block;
    top: 16%;
    width: calc(100% - 20px);
    height: 20%;
    left:50%; 
    transform:translate(-50%, 0); 
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.2));
    border-radius: 10px;
}

.questionImage {
    object-fit: contain;
    max-width: 100%;
    width: 300px;
    border-radius: 10px;
    max-height: 300px;
}

.radioHidden {
    display: none !important;
}

.labelForRadio {
    padding: 10px;
    display: block;
    * {
        display: block
    };
}

.radioContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    &.isBoolean {
        flex-direction: row;
    }
    .labelForRadio {
        transition: .2s ease;
        @include duolingo_button(#ffffff, 10px, 4px);
    }
}

.radioHidden:checked + .labelSpan {
}

.labelForRadio:has(.radioHidden:checked) {
    @include duolingo_button(#98c3ce, 10px, 4px);
    &:active {
        border-bottom-width: 2px !important;
    }

}

.labelForRadio:has(.radioHidden:checked) {
    &.ja {
        @include duolingo_button(#98ce98, 10px, 4px);
    }
    &.nee {
        @include duolingo_button(#f8a8a8, 10px, 4px);
    }
    &.labelCorrect {
        @include duolingo_button(#98ce98, 10px, 4px);
    }
    &.labelIncorrect {
        @include duolingo_button(#f8a8a8, 10px, 4px);
    }
}

.questionForm {
    width: 700px;
    max-width: 80%;
    margin: 30px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.questionHeader {
    text-align: center;
}

.questionReviewContainer {
    height: 350px;
    background-color: #4b4b4b;
    color: #eeeeee;
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0;
    padding: 30px;
    animation: slideInFromBottom 0.5s ease;
    border-radius: 30px 30px 0 0;
}

@keyframes slideInFromBottom {
    0% {
        transform: translateY(100%);
    }
    100% {
        transform: translateY(0);
    }
}

.correctText {
    font-weight: 800;
    font-size: 30px;
}