.chapter_tile {
  width: 60px;
  height: 60px;
  background-color: #89b0ba;
  border: 2px solid #699aa7;
  border-bottom: 6px solid #699aa7;
  border-radius: 50%;
  margin: 10px;
  transition: all 0.2s;
  background-color: #89b0ba;
  display: flex;
  align-items: center;
  cursor: pointer;
  justify-content: center;
  padding: 12px 16px;
}
.chapter_tile[aria-pressed=true] {
  background-color: #a289ba;
  border: 2px solid #8969a7;
  border-bottom: 6px solid #8969a7;
  border-radius: 50%;
}
.chapter_tile:active {
  transform: scale(0.95);
  border-bottom: 2px solid #699aa7;
}

.tiles_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 200px;
  position: relative;
}
.tiles_container .chapter_tile_wrapper {
  position: relative;
}
.tiles_container .chapter_tile_wrapper:nth-child(1) {
  margin-right: 78.1677878439px;
}
.tiles_container .chapter_tile_wrapper:nth-child(2) {
  margin-right: 132.6584774443px;
}
.tiles_container .chapter_tile_wrapper:nth-child(3) {
  margin-right: 132.6584774443px;
}
.tiles_container .chapter_tile_wrapper:nth-child(4) {
  margin-right: 78.1677878439px;
}
.tiles_container .chapter_tile_wrapper:nth-child(5) {
  margin-left: 10px;
}
.tiles_container .chapter_tile_wrapper:nth-child(6) {
  margin-left: 98.1677878439px;
}
.tiles_container .chapter_tile_wrapper:nth-child(7) {
  margin-left: 152.6584774443px;
}
.tiles_container .chapter_tile_wrapper:nth-child(8) {
  margin-left: 152.6584774443px;
}
.tiles_container .chapter_tile_wrapper:nth-child(9) {
  margin-left: 98.1677878439px;
}
.tiles_container .chapter_tile_wrapper:nth-child(10) {
  margin-left: 10px;
}
.tiles_container .chapter_tile_wrapper:nth-child(11) {
  margin-right: 78.1677878439px;
}
.tiles_container .chapter_tile_wrapper:nth-child(12) {
  margin-right: 132.6584774443px;
}
.tiles_container .chapter_tile_wrapper:nth-child(13) {
  margin-right: 132.6584774443px;
}
.tiles_container .chapter_tile_wrapper:nth-child(14) {
  margin-right: 78.1677878439px;
}
.tiles_container .chapter_tile_wrapper:nth-child(15) {
  margin-left: 10px;
}
.tiles_container .chapter_tile_wrapper:nth-child(16) {
  margin-left: 98.1677878439px;
}
.tiles_container .chapter_tile_wrapper:nth-child(17) {
  margin-left: 152.6584774443px;
}
.tiles_container .chapter_tile_wrapper:nth-child(18) {
  margin-left: 152.6584774443px;
}
.tiles_container .chapter_tile_wrapper:nth-child(19) {
  margin-left: 98.1677878439px;
}
.tiles_container .chapter_tile_wrapper:nth-child(20) {
  margin-left: 10px;
}
.tiles_container .chapter_tile_wrapper:nth-child(21) {
  margin-right: 78.1677878439px;
}
.tiles_container .chapter_tile_wrapper:nth-child(22) {
  margin-right: 132.6584774443px;
}
.tiles_container .chapter_tile_wrapper:nth-child(23) {
  margin-right: 132.6584774443px;
}
.tiles_container .chapter_tile_wrapper:nth-child(24) {
  margin-right: 78.1677878439px;
}
.tiles_container .chapter_tile_wrapper:nth-child(25) {
  margin-left: 10px;
}
.tiles_container .chapter_tile_wrapper:nth-child(26) {
  margin-left: 98.1677878439px;
}
.tiles_container .chapter_tile_wrapper:nth-child(27) {
  margin-left: 152.6584774443px;
}
.tiles_container .chapter_tile_wrapper:nth-child(28) {
  margin-left: 152.6584774443px;
}
.tiles_container .chapter_tile_wrapper:nth-child(29) {
  margin-left: 98.1677878439px;
}

.chapter_tile_content {
  display: block;
  position: absolute;
  background-color: #89baa6;
  border: 2px solid #69a78e;
  border-bottom: 6px solid #69a78e;
  border-radius: 20px;
  z-index: 2;
  width: 300px;
  word-wrap: break-word;
  color: white;
  padding: 10px;
  left: 50%;
  transition: transform 0.2s;
  opacity: 1;
  visibility: visible;
  transform: translate(-50%, 0) scale(1);
  transform-origin: top center;
  animation: delay 0.2s forwards;
}
.chapter_tile_content h3 {
  margin: 15px;
  text-align: center;
}

.hidden_tile {
  visibility: hidden;
  transform: translate(-50%, 0) scale(0);
  transition: transform 0.2s;
  animation: delayReverse 0.2s forwards;
}

.start_challenge_button {
  background-color: #fafafa;
  border: 2px solid #e1e1e1;
  border-bottom: 4px solid #e1e1e1;
  border-radius: 10px;
  display: block;
  padding: 10px 20px;
  color: rgb(61, 61, 61);
  text-align: center;
  width: 100%;
  margin-top: 20px;
}

@media (max-width: 600px) {
  .chapter_tile {
    width: 50px;
    height: 50px;
    padding: 10px 14px;
  }
  .chapter_tile_content {
    position: fixed;
    width: 90vw;
    left: 5vw;
    transform: unset;
    bottom: 5vw;
  }
}
.carsBackground {
  position: absolute;
  left: 0;
  transform: translate(80%, 0);
  max-width: 60vw;
  -o-object-fit: contain;
     object-fit: contain;
  animation: carMoveOtherDirection 7s infinite;
}
.carsBackground:nth-child(odd) {
  transform: translate(-80%, 0);
  animation: carMove 7s infinite;
}
.carsBackground:nth-child(1) {
  animation-delay: 0s;
  top: 8%;
}
.carsBackground:nth-child(2) {
  animation-delay: 1s;
  top: 25%;
}
.carsBackground:nth-child(3) {
  animation-delay: 2s;
  top: 42%;
}
.carsBackground:nth-child(4) {
  animation-delay: 3s;
  top: 59%;
}
.carsBackground:nth-child(5) {
  animation-delay: 4s;
  top: 76%;
}

@keyframes carMove {
  0% {
    transform: translate(-80%, 0%);
  }
  50% {
    transform: translate(-60%, 7%);
  }
  100% {
    transform: translate(-80%, 0%);
  }
}
@keyframes carMoveOtherDirection {
  0% {
    transform: translate(80%, 0%);
  }
  50% {
    transform: translate(60%, 15%);
  }
  100% {
    transform: translate(80%, 0%);
  }
}
@keyframes delay {
  from {
    visibility: hidden;
  }
  to {
    visibility: visible;
  }
}
@keyframes delayReverse {
  from {
    visibility: visible;
    opacity: 1;
  }
  to {
    visibility: hidden;
    opacity: 0;
  }
}/*# sourceMappingURL=style.module.css.map */